<div style="text-align: center; width: 400px; height: 700px;">
    name: <input type="text" #uname><br><br>
    pass: <input type="text" #upass><br><br>
    <input type="button" value="LOGIN" (click)="Login(uname.value,upass.value)"><br><br>
    <input type="button" value="SIGNIN" (click)="Signin(uname.value,upass.value)"><br><br>

    {{myusername}} <br>

    USER NAME : <input type="text" [(ngModel)]="myusername"> <br><br>
    <img [src]="myimage" height="30%" width="30%" style="background-color: aqua;" alt="imgae no found.....">
</div>