<div class="container">
    <form [formGroup] = "loginForm">
        <div class="form-group">
            <label for="email">Email:</label>
            <span class="text text-danger" *ngIf="loginForm.get('email')?.untouched">*</span>
            <input type="email" required class="form-control" formControlName = "email" placeholder="Enter email"
                name="email">
            <span class="text text-danger" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"> Email id Requried </span>
        </div>
        <div class="form-group">
            <label for="pass">Password:</label>
            <span class="text text-danger" *ngIf="loginForm.get('pass')?.untouched">*</span>
            <input type="pass" required class="form-control" formControlName = "pass" placeholder="Enter pass"
                name="pass">
            <span class="text text-danger" *ngIf="loginForm.get('pass')?.invalid && loginForm.get('pass')?.touched"> Email id Requried </span>
        </div>

        

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
