<!-- <div *ngif="mycondition">
    <h1>Hello</h1>
</div>


<input type="text" #fruit>:<input type="button" value="Add Fruit " (click)="addfruit(fruit.value)">
<ol>
    <li *ngFor="let fruitnames of fruits ">
            {{fruitnames}}
    </li>

</ol>


<div *ngFor="let day of days" >

    <div *ngIf="day=='Sunday' || day=='Saturday' ; else elseBlock">
        <h1>{{day}}: is weekend </h1>

    </div>
    <ng-template #elseBlock>
        <h1> {{day}}: week days </h1>
    </ng-template>
</div>


<div [ngSwitch]="myval">
    <h2 *ngSwitchCase="1">tamil</h2>
    <h2 *ngSwitchCase="2">english</h2>
    <h2 *ngSwitchCase="3">telungu</h2>
    <h2 *ngSwitchCase="4">marati</h2>
    <h2 *ngSwitchCase="5">kannada</h2>
    <h2 *ngSwitchCase="6">malaiyalam</h2>
</div>
 -->




 <!-- <div [ngClass]="{bdr:true, bg:true, div:true}">
     <h1>hi Hello</h1>
 </div>
 <div class="bdr bg div">
    <h1>hi Hello</h1>
 </div>


 <div [ngStyle]="{'color':clr,'background-color':bgc}">
    <h1>kabilan</h1>
 </div>



 <select [(ngModel)]="selected" [compareWith]="compareObjects">
    <option *ngFor="let datas of data" [ngStyle]="{'background-color': datas.color}" [ngValue]="datas">{{datas.name}}</option>
   </select>
  
  <div [ngStyle]="{'background-color': selected.color}">{{selected.name}}</div> -->